In [22]:
import pandas as pd
import numpy as np

In [4]:
str(uuid.uuid1())[:8]

'87a3aab2'

In [5]:
with open('../data/20181024_d1_0830_0900.csv','r') as f:
    lines=f.readlines()

columns=lines[0].replace('\n','').split(';')
data=lines[1:]

In [12]:
for i,j in enumerate(['a','k']):
    print(i,j)

0 a
1 k

In [28]:
a=[]
a.extend([['a','b'],['d','w']])
# a.append(['c','d'])
a

[['a', 'b'], ['d', 'w']]

In [15]:
columns[:4]

['track_id', ' type', ' traveled_d', ' avg_speed']

In [16]:
columns[4:]

[' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [29]:
def chunk_list(list,chunk_size,default_first_val=None):
    chunked_list=[]
    for i in range(0, len(list), chunk_size):
        if default_first_val:
            chunked_list.append([default_first_val].extend(list[i:i+chunk_size]))
        else:
            chunked_list.append(list[i:i+chunk_size])

    return chunked_list

In [30]:
trajectory_cols=columns[:4]
trajectory_rows=[]

timed_vehicle_cols=['track_id'].extend(columns[4:])
timed_vehicle_rows=[]

for row in data:
    items=row.replace('\n','').split(';')
    trajectory_rows.append(items[:4])
    timed_vehicle_rows.append(chunk_list(items[4:],6))

In [35]:
chunk_list(['w','d','a','e','e','p'],4)

[['w', 'd', 'a', 'e'], ['e', 'p']]

In [31]:
trajectory_data=pd.DataFrame(columns=trajectory_cols,data=trajectory_rows)
timed_vehicle_data=pd.DataFrame(columns=timed_vehicle_cols,data=timed_vehicle_rows)

In [32]:
trajectory_data.head()

  track_id         type  traveled_d   avg_speed
0        1          Car       48.85    9.770344
1        2   Motorcycle       98.09   19.839417
2        3   Motorcycle       63.80   18.228752
3        4   Motorcycle      145.72   26.229014
4        5   Motorcycle      138.01   24.841425

In [33]:
timed_vehicle_data.head()

      0
0  None
1  None
2  None
3  None
4  None

In [ ]:
data.shape == len(data['track_id;'].unique())